<?xml version='1.0'?>
<robot name="multicambot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Constants for robot dimensions -->
	<xacro:property name="PI" value="3.1415926535897931"/>
	<xacro:property name="mass" value="1" />
	<xacro:property name="camera_link" value="0.05" />

	<!-- Import all Gazebo-customization elements, including Gazebo colors -->
	<xacro:include filename="$(find multicambot_description)/urdf/multicambot.gazebo" />

	<!-- Used for fixing robot to Gazebo 'base_link' -->
	<!-- <link name="world"/> -->

	<link name='chassis'>
		<collision name='collision'>
			<origin xyz="0 0 .1" rpy="0 0 0" />
			<geometry>
				<box size="0.4 0.2 0.15" />
			</geometry>
		</collision>

		<visual name='visual'>
			<origin xyz="0 0 .1" rpy="0 0 0" />
			<geometry>
				<box size="0.4 0.2 0.15" />
			</geometry>
		</visual>

		<collision name='caster_collision'>
			<origin xyz="-0.15 0 0" rpy="0 0 0" />
			
			<geometry>
				<sphere radius="0.05" />
			</geometry>
		</collision>

		<visual name='caster_visual'>
			<origin xyz="-0.15 0 0" rpy="0 0 0" />
			
			<geometry>
				<sphere radius="0.05" />
			</geometry>
		</visual>
	</link>

	<link name="left_wheel">	
		<collision>
			<origin xyz="0.1 0.13 0.1" rpy="0 1.5707 1.5707" />
			<geometry>
				<cylinder radius="0.1" length="0.05" />
			</geometry>
		</collision>
		<visual>
			<origin xyz="0.1 0.13 0.1" rpy="0 1.5707 1.5707" />
			<geometry>
				<cylinder radius="0.1" length="0.05" />	
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1" />
			</material>
		</visual>
	</link>

	<link name="right_wheel">
		<collision>
			<origin xyz="0.1 -0.13 0.1" rpy="0 1.5707 1.5707" />
			<geometry>
				<cylinder radius="0.1" length="0.05" />
			</geometry>
		</collision>
		<visual>
			<origin xyz="0.1 -0.13 0.1" rpy="0 1.5707 1.5707" />
			<geometry>
				<cylinder radius="0.1" length="0.05" />	
			</geometry>
			<material name="brown">
				<color rgba="0.9 0.8 0.8 1" />
			</material>
		</visual>
	</link>

	<!-- Camera -->

	<!-- <link name="camera_back">
		<inertial>
			<mass value="0.1" />
			<inertia ixx="0.000166667" iyy="0.000166667" izz="0.000166667" ixy="0" ixz="0" iyz="0" />
		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
			<material name="green">
				<color rgba="0 0.8 0 1" />
			</material>
		</visual>
	</link> -->

	<link name="camera_left0">
		<inertial>
			<mass value="0.1" />
			<inertia ixx="0.000166667" iyy="0.000166667" izz="0.000166667" ixy="0" ixz="0" iyz="0" />
		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
			<material name="orange">
				<color rgba="0.8 0.5 0.1 1" />
			</material>
		</visual>
	</link>

	<link name="camera_right0">
		<inertial>
			<mass value="0.1" />
			<inertia ixx="0.000166667" iyy="0.000166667" izz="0.000166667" ixy="0" ixz="0" iyz="0" />
		</inertial>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${camera_link} ${camera_link} ${camera_link}" />
			</geometry>
		</visual>
	</link>

	<!-- <joint name="left_wheel_hinge" type="revolute">
		<origin xyz="0 0 -0.03" rpy="0 0 0" />
		<parent link="chassis" />
		<child link="left_wheel" />
		<axis xyz="0 1 0" />
		<limit effort="30" velocity="1.0" lower="-10" upper="10" />
	</joint>

	<joint name="right_wheel_hinge" type="revolute">
		<origin xyz="0 0 0.03" rpy="0 0 0" />
		<parent link="chassis" />
		<child link="right_wheel" />
		<axis xyz="0 1 0" />
		<limit effort="30" velocity="1.0" lower="-10" upper="10" />
	</joint>
 -->
 	<joint name="left_wheel_hinge" type="fixed">
		<origin xyz="0 0 -0.05" rpy="0 0 0" />
		<parent link="chassis" />
		<child link="left_wheel" />
		<axis xyz="0 1 0" />
	</joint>

	<joint name="right_wheel_hinge" type="fixed">
		<origin xyz="0 0 -0.05" rpy="0 0 0" />
		<parent link="chassis" />
		<child link="right_wheel" />
		<axis xyz="0 1 0" />
	</joint>

	<joint name="camera_left0_joint" type="fixed">
		<axis xyz="0 1 0" />
		<origin xyz="0 -0.08 0.2" rpy="0 0 ${-PI/2}" />
		<parent link="chassis" />
		<child link="camera_left0" />
	</joint>

	<joint name="camera_right0_joint" type="fixed">
		<axis xyz="0 1 0" />
		<origin xyz="0 0.08 0.2" rpy="0 0 ${PI/2}" />
		<parent link="chassis" />
		<child link="camera_right0" />
	</joint>

</robot>
